<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/how-to-use-tracesource-and-filters-with-trace-listeners -->
    <sources>
      <source name="SaberSongPatcher" switchValue="All">
        <listeners>
          <add name="consoleLog" type="System.Diagnostics.ConsoleTraceListener">
            <!-- https://blog.stephencleary.com/2010/12/simple-and-easy-tracing-in-net.html -->
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
          </add>
          <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="debug.log" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
