<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <!-- write logs to file -->
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" />
    <!-- show logs on console -->
    <target name="logconsole" xsi:type="ColoredConsole" layout="${uppercase:${level}}  ${message}" />
  </targets>

  <!-- https://github.com/NLog/NLog/wiki/Filtering-log-messages#semi-dynamic-routing-rules -->
  <variable name="customLevel" value="Info" />
  
  <rules>
    <logger name="*" minlevel="${var:customLevel}" writeTo="logconsole">
      <filters>
        <!-- hide ffmpeg log details on console -->
        <when condition="equals('${logger}','SoundFingerprinting.Emy.FFmpeg.Loader.WindowsLoader')" action="Ignore" />
        <when condition="equals('${logger}','FFmpeg')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>