<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <!-- write logs to file -->
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" />
    <!-- Call method to show logs to user in GUI -->
    <target name="callmethod" xsi:type="MethodCall" className="SaberSongPatcher.UI.ObservableLogTarget, SaberSongPatcherUI" methodName="AddLog">
      <parameter layout="${level}" />
      <parameter layout="${message}" />
      <parameter layout="${level:format=Ordinal}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="callmethod">
      <filters>
        <!-- hide ffmpeg log details to user -->
        <when condition="equals('${logger}','SoundFingerprinting.Emy.FFmpeg.Loader.WindowsLoader')" action="Ignore" />
        <when condition="equals('${logger}','FFmpeg')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>